*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 14px;
	padding: 30px;
}

h1{
	margin-bottom: 10px;
}

.form{
	width: 400px;
	display: flex;
	flex-direction: column;
  	margin: auto;
}

#langprog{
	max-width: 110px;
}

#submit{
	width: 30%;
}
*{
  box-sizing: 0;
}